CricketScoreboard/CricketScoreboard/bin/
CricketScoreboard/CricketScoreboard/obj/
HondaAddOnLEDDisplay/HondaAddOnLEDDisplay/bin/
HondaAddOnLEDDisplay/HondaAddOnLEDDisplay/obj/
productionmanagment/productionmanagment/Setup/
productionmanagment/productionmanagment/productionmanagment/bin/
productionmanagment/productionmanagment/productionmanagment/obj/
productionmanagment_Honda/productionmanagment/Setup/
productionmanagment_Honda/productionmanagment/productionmanagment/bin/
productionmanagment_Honda/productionmanagment/productionmanagment/obj/
productionmanagment_Honda_WithPDI/productionmanagment_Honda_WithPDI/Setup/
productionmanagment_Honda_WithPDI/productionmanagment_Honda_WithPDI/productionmanagment_Honda_WithPDI/bin/
productionmanagment_Honda_WithPDI/productionmanagment_Honda_WithPDI/productionmanagment_Honda_WithPDI/obj/
productionmanagment_Honda_WithoutPDI/productionmanagment_Honda_WithoutPDI/Setup/
productionmanagment_Honda_WithoutPDI/productionmanagment_Honda_WithoutPDI/productionmanagment_Honda_WithoutPDI/bin/
productionmanagment_Honda_WithoutPDI/productionmanagment_Honda_WithoutPDI/productionmanagment_Honda_WithoutPDI/obj/
